<%- include('../partials/header') %>

  <div class="blogs content">
    <h2>
      <%= blog.title %>
    </h2>
    <i>
      <%= blog.snippet %>
    </i>
    <br>
    <br>
    <%= blog.body %>

      <%- include('../partials/footer') %>